#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  place-items: center;
  display: flex;
  flex-direction: column;
}

#scorecard {
  display: flex;
  width: calc(100% - 4rem);
  padding: 0;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  max-width: 1200px;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(1px);
  z-index:1;
}

.main-content {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
}