#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#scorecard {
  display: flex;
  max-width: 1200px;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(1px);
  z-index:1;
}

.main-content {
  position: relative;
  z-index: 2;
}